*{
    margin: 0;
    padding: 0;
    font-family: arial , sans-serif ;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h3{
    color: blue;
}
ul li a{
    text-decoration: none;
}
div img{
    display: block;
    width: 100%;
    border-radius: 50px;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    
}


header{
    background-color:#122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;

}
 
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color:#fff;
}
header .menu{
    justify-content: space-between;
}

.apresentações{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentações .texto-apresentações{
 min-height: 200px;
 
}

.texto-apresentações h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
    
}

.btn{
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}
#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color: #122a57;
    width: 100%;  

}
 
#serviços{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#serviços h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}
.list-serviços{
    display: flex;
    justify-content: space-between;
}

.list-serviços .item-serviços{
    text-align: center;
}
.item-serviços a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: #122a57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-serviços p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-serviços img{
    width: 80%;
    margin: auto;
}

#planos{
flex-direction: column;
min-height: 100vh;
color: #122a57;
padding-top: 50px;

}
#planos h2{
    font-size: 32px;
}
.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.item-planos{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    color: #122a57;
    max-width: 240px;
    

}
.item-planos .btn{
    margin: auto;
    margin-bottom: 20px;
}
.item-planos h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

}

.item-planos h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.item-planos ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.item-planos ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;


}
footer{
    background-color: #122a57;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
}
footer .footer{
    justify-content: space-between;
}
/* mobile */
@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }
    .apresentações{
        flex-direction: column-reverse;
    }
    .apresentações .texto-apresentações{
        width: 100%;
        
    }

    #quem-somos{
        flex-direction: column-reverse;
    }
    .list-serviços{
        flex-direction: column;
    }
    #quem-somo img{
        min-width: 320px;
        margin: auto;
    }

    .item-serviços img{
        width: 50%;
        margin: auto;
    }
    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .list-planos .item-planos{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}


/* Estilo para formulários */

form {
    margin: auto;
    padding: 5px 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#botoesFormulario {
    display:block;
}

input {
    font-size: 15px;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
    padding: 5px;
    border: none;
    border-bottom: solid 2px;
    border-radius: 3px;
    width: 300px;
    height: 20px;
}

input[type="radio"]:hover {
    transform: scale(1.2);
    outline: none;
}

input:focus {
    outline: none;
    border: solid 2px rgb(15, 15, 233);
    box-shadow: 1px 1px 2px 1px;
}

input:focus:placeholder-shown {
    outline: none;
    border: solid 2px red;
    box-shadow: 1px 1px 2px 1px;
}

input:disabled {
    background-color: #2048912a;
}

input[type="radio"], input[type="checkbox"] {
    box-shadow: none;
} 

label {
    margin-bottom: 7px;
    font-size: 15px;
}

.tituloFormulario {
    color: black;
    font-family: helvetica;
    padding: 10px 30px;
    color: rgb(18, 42, 87);
    font-size: 28px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.campoFormulario {
    font-size: 15px;
    font-weight: 700;
    padding: 5px 20px;
    padding: 15px 0 5px 0;
}

.selecaoFormulario {
    padding: 5px 20px;
}

.botaoFormulario {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffff;
    background-color: #08558b;
    cursor: pointer;
}

.botaoFormulario:hover {
    transform: scale(1.1);
    background-color: rgb(18, 42, 87);
    border-radius: 30px;
    border-width: 2px;
}

.botoesFormulario {
    text-align: center;
}

.checkbox {
    position: relative;
    top: 6px;
}
